<p id="notice"><%= notice %></p>

<h1>
  <strong><%= @project.name %></strong>  
</h1>

<p>
  <strong>Description:</strong>
  <%= @project.description %>
</p>

<p>
  <ul>
    <% @project.todos.each do |todo| %>
      <li><%= link_to todo.task, project_todo_path(todo.project.slug, todo) %></li>
    <% end %>
  </ul>
</p>

<p>
  <%= render 'todos/form', todo: @project.todos.new %>
</p>

<%= link_to 'Show Task', project_todos_path(@project.slug) %> |
<%= link_to 'Back', projects_path %>
