<%= form_tag(project_todo_affectation_path(project, todo)) do %>
  <% if todo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(todo.errors.count, "error") %> prohibited this todo from being saved:</h2>

      <ul>
      <% todo.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% users.each do |user| %>
    <div class="fields_with_errors">
        <input type='checkbox' name='user[name]' value='<%= user.name%>' />
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
