<p id="notice"><%= notice %></p>

<h1>
  <strong><%= @todo.task %></strong>  
</h1>

<ul>
  <% @todo.workers.each do |w| %>
    <li><%= link_to w.name, worker_path(w) %></li>
  <% end %>
</ul>

<%= link_to 'Edit', edit_project_todo_path(@todo.project.slug, @todo) %> |
<%= link_to 'Add Doers', project_todo_affectation_new_path(@todo.project.slug, @todo) %> |
<%= link_to 'Back', project_path(@todo.project.slug) %>
