<p id="notice"><%= notice %></p>

<h1>
  <strong><%= @worker.user.name %></strong>  
</h1>

<p>
  <strong>Title:</strong>
  <%= @worker.title %>
</p>

<br><br>

<h3>Duties</h3>
<br>

<ul>
  <% @worker.todos.each do |t| %>
    <li><%= link_to t.task, project_todo_path(t.project.slug, t) %></li>
  <% end %>
</ul>

<%= link_to 'Edit', worker_path(@worker) %> |
<% = link_to 'Back', workers_path %>
